#one{
-webkit-box-shadow: 1px 2px 35px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 35px 2px rgba(0,0,0,0.75);
box-shadow: 1px 2px 35px 2px rgba(0,0,0,0.75);
width:1100px;
height:2500px;
margin:0 auto;
}
body{
margin:0PX;
padding:0;}
#bar{
width:100%;
height:40px;
background:#b51142;
line-height:1.9;
color:white;
-webkit-box-shadow: 1px 2px 10px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 10px 2px rgba(0,0,0,0.75);
box-shadow: 1px 2px 10px 2px rgba(0,0,0,0.75);}
#con{
float:left;}
#social{
float:right;
padding-right:20px;}
.fa{
color:white;}
#logo {clear:left;
margin-top:10px;

}
.nav1{

list-style-type:none;
padding:0;
width:100%;
height:45px;
border-radius:5px 5px 0px 0px;
background: rgba(243,226,199,1);
background: -moz-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,226,199,1)), color-stop(50%, rgba(193,158,103,1)), color-stop(51%, rgba(182,141,76,1)), color-stop(100%, rgba(233,212,179,1)));
background: -webkit-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
background: -o-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
background: -ms-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=1 );
-webkit-box-shadow: 1px 2px 35px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 35px 2px rgba(0,0,0,0.75);
box-shadow: 1px 2px 35px 2px rgba(0,0,0,0.75);}
.nav1 li{
float:left;
padding-left:44px;
padding-right:44px;
line-height:2.5;
border-left:1px solid red;
border-right:1px solid black;
}
nav ul li a{
text-decoration:none;
color:white;
text-transform:uppercase;
}
.nav1 li:hover{
background-color:green;
height:45px;}
#two img{
width:100%;
-webkit-box-shadow: 1px 2px 30px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 30px 2px rgba(0,0,0,0.75);
box-shadow: 1px 2px 30px 2px rgba(0,0,0,0.75);}
.box1{
height:250px;
width:300px;
float:left;
-webkit-box-shadow: 1px 2px 20px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 20px 2px rgba(0,0,0,0.75);
box-shadow: 1px 2px 20px 2px rgba(0,0,0,0.75);
margin:15px;
padding:15px 15px;
position:relative;
left:10px;
text-align:center;
top:5px;}
.box1 .fa{
color:green;}
.line{
border-bottom:2px solid black;
padding-top:20px;
width:100%;
float:left;}
.text{
text-align:center;
font-size:35px;
color:green;
padding-top:10px;
margin-top:5px;}
.box2{
height:300px;
width:200px;
float:left;
-webkit-box-shadow: 1px 2px 20px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 20px 2px rgba(0,0,0,0.75);
box-shadow: 1px 2px 20px 2px rgba(0,0,0,0.75);
margin:15px;
padding:15px 15px;
position:relative;
left:10px;
text-align:center;
top:5px;
}
.box2 img{
height:150px;
width:160px;
border-radius:50%;
}
.box2 .fa{
color:#b16565;}
.line1{
width:40%;
padding-top:20px;
padding-left:5px;
border:1px solid #000;
float:left;}
.text1{
font-size:25px;
float:left;
border:1px solid  #000;
font-weight:bold;
color:#000;}
br{
clear:left;}
.box3{
height:300px;
width:300px;
float:left;
-webkit-box-shadow: 1px 2px 20px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 20px 2px rgba(0,0,0,0.75);
box-shadow: 1px 2px 20px 2px rgba(0,0,0,0.75);
margin:15px;
padding:15px 15px;
position:relative;
left:10px;
text-align:center;
top:5px;
}
.box3 img{
height:290px;
width:290px;
}
.box4{
height:160px;
width:300px;
float:left;
margin:0px;
padding:15px;
position:relative;
left:10px;
text-align:center;
top:5px;
}
 footer{
background:black;
width:100%;
height:280px;
clear:both;
color:white;}
#end{
background-color:orange;
color:white;
width:100%;
height:60px;
line-height:2.1;
text-align:center;
font-size:25px;
top:0px;
margin-top:-1px;
}
@media only screen and (max-width:480px){
#one {
width:480px;
height:auto;}
#bar{
width:480px;
height:60px;}
#social{
float:left;
clear:left;}
.nav1{

list-style-type:none;

width:470px;
height:250px;}
.nav1 li{
clear:left;
padding-left:0px;
padding-right:0px;
text-align:center;
width:100%;}
.nav li:hover{
width:470px;}
footer{
background:black;
width:100%;
height:900px;
}
#end{
font-size:15px;
clear:both;
height:25px;
}

.box2{
clear:left;
position:relative;
left:100px;}
.box1{
clear:left;
position:relative;
left:50px;}
.box3{
clear:left;
position:relative;
left:50px;}
.box4{
clear:left;
position:relative;
left:50px;}
 

}
